html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  background-color: #f8f9fa;
  color: #333;
}

#root,
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1; /* This pushes the footer down */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

h1 {
  color: #333;
}
